<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contacto</title>
    <link rel="stylesheet" href="css/contacto.css" />
  </head>
  <body>
    <script>
      fetch('header.html').then(response => response.text()).then(data => {
        document.querySelector('body').insertAdjacentHTML('afterbegin', data);
      });
    </script>

    <!-- Sección Principal -->
    <div class="image-container" style="font-size: 1.5em;">
      <div class="wave-effect"></div>
      <div class="content">
        <h1 class="fade-in">¿Necesitas ayuda?</h1>
        <p class="fade-in">En KONECT estamos pendientes para resolver cualquier
          inquietud o duda y ayudarte a tomar la mejor decisión en el ámbito
          tecnológico.</p>
      </div>
    </div>
    <div class="redes-container"></div>

    <!-- Sección 2 con Cuadrícula (Grid) -->
    <div class="grid-container">
      <!-- Primer grid con imagen grande -->
      <div class="image-section" style="margin-top: -40px;">
        <a href="https://etapainfantil.com/wp-content/uploads/2015/11/pangea.jpg.webp" target="_blank">
          <img src="https://etapainfantil.com/wp-content/uploads/2015/11/pangea.jpg.webp" alt="Imagen para Google Maps">
        </a>
      </div>
      <!-- Segundo grid con imagen y texto -->
      <div class="text-image-section">
        <!-- Imagen 2 -->
        <div class="image-above-text">
          <img src="URL_DE_IMAGEN_ENCIMA" alt="Imagen encima del texto">
          <h2 style="font-size: 1.2em;">Visita Nuestras Oficinas</h2>
          <p style="font-size: 1em;">SOLUCIONES TECNOLOGICAS KONECT CIA. LTDA., Edificio Leiva Gallegos, Av. El Inca, y, Quito 170138.</p>
        </div>
        <!-- Imagen 3 -->
        <div class="image-below-text">
          <img src="URL_DE_IMAGEN_DEBAJO" alt="Imagen debajo del texto">
          <h2 style="font-size: 1.2em;">Horario De Atención</h2>
          <p style="font-size: 1em;">Lunes a Viernes de 09H00 a 18h00.</p>
        </div>
      </div>
    </div>

    <script src="js/contacto.js"></script>
  </body>
</html>
