<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nosotros</title>
    <link rel="stylesheet" href="css/nosotros.css" />
  </head>
  <body>
    <script>
      fetch('header.html')
          .then(response => response.text())
          .then(data => {
              document.querySelector('body').insertAdjacentHTML('afterbegin', data);
          });
    </script>
    <br />
    <div class="seccion-1">
      <div class="mitad-texto">
        <p><br><br><br>Integrador de soluciones clave con servicios de excelencia a nivel
          nacional especializado en diversas áreas de telecomunicación y con
          personal Master en Gestión de Proyectos y Liderazgo.</p>
      </div>
      <div class="mitad-imagen">
        <br><br>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl-846hFCp_pqrXPSz0l0RqEtEOzeUkhWyFDoeM-6x&s"
          alt="Descripción de la imagen"
        />
      </div>
    </div>
    <div class="seccion-2">
      <div class="cuadro-con-bordex">
        <h1 class="cuadros"> Misión</h1>
        <p>Brindar valor a nuestros clientes y a la sociedad en general,
          satisfaciendo todos sus necesidades y requerimientos, estableciendo
          siempre las mejores relaciones con nuestros clientes con una gestión
          innovadora sustentada siempre en la capacidad y desarrollo de nuestro
          equipo de colaboradores.</p>
      </div>
      <div class="cuadro-con-bordex">
        <h1 class="cuadros"> Visión</h1>
        <p>Brindar soluciones integrales de Telecomunicaciones a nivel Nacional
          a nuestros clientes, mediante productos y servicios con estándares de
          calidad e innovación.</p>
      </div>
    </div>
    <div class="seccion-3">
      <div class="cuadro-con-borde">
        <h1 class="cuadros"> Valores</h1>
        <p>Alineados a nuestra Visión y Misión y con el objetivo de ejecutar
          nuestros proyectos buscando la satisfacción de nuestros clientes, nos
          fundamentamos en los siguientes valores:</p>
        <div class="valores">
          <ul>
            <li>Honestidad: Actuamos bajo principios y valores que nos permiten
              ser trasparentes e íntegros ante nuestros stakeholders de manera
              que podamos generar relaciones de confianza y credibilidad a largo
              plazo.</li>
            <li>Compromiso: Consolidamos la ejecución de nuestros proyectos de
              manera íntegra y proactiva.</li>
            <li>Innovación: Brindamos soluciones y productos acorde a las
              necesidades de nuestros clientes basados en tecnologías y
              prestaciones que requiere el mercado dinámico de las
              Telecomunicaciones.</li>
            <li>Responsabilidad: Nos enfocamos en cumplir con los compromisos
              pactados con nuestros clientes.</li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="seccion-4">
      <div class="grid-2x2">
        <div class="grid-item">
          <h1>Nuestro Equipo</h1>
        </div>
        <div class="grid-item">
          <p>Ingenieros especializados en sistemas de Telecomunicaciones y TI,
            liderados por profesionales certificados en gestión de Proyectos
            PMP® y SCRUM, y orientados a brindar resultados que garanticen la
            satisfacción a nuestros clientes.</p>
        </div>
        <div class="grid-item">
          <h1>Clientes Satisfechos</h1>
          <p>Entendemos que cada proyecto es adaptable y flexible, por lo cual
            logramos la satisfacción de nuestros clientes y socios de negocio.</p>
        </div>
        <div class="grid-item">
          <div class="imagenes-container">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/3/34/Linksys-Wireless-G-Router.jpg"
              alt="Descripción de la imagen 1"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/3/34/Linksys-Wireless-G-Router.jpg"
              alt="Descripción de la imagen 2"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/3/34/Linksys-Wireless-G-Router.jpg"
              alt="Descripción de la imagen 3"
            />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/3/34/Linksys-Wireless-G-Router.jpg"
              alt="Descripción de la imagen 4"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="seccion-5">
      <div class="cuadro-exterior">
        <div class="cuadro-interior"><h3>SOPORTE GARANTIZADO</h3>
          <p>Todos nuestro proyectos cuentan con un soporte oportuno para
            brindar la mejor experiencia al cliente.</p></div>
        <div class="cuadro-interior"><p>Monitoreo Constante, Servicio
            Especializado y Los Mejores Profesionales</p></div>
      </div>
    </div>
    <script src="js/nosotros.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>